@import '../variables.scss';

.containerCategories {
    font-family: $primary-font;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.boxCategories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}

.cardCategories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);

}

.containerCategories {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

}

.boxCategories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 22px;
}

.cardCategories {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.22);
}

.category-red {
    color: $primary-color;
    font-weight: bold;
}