@import '../variables.scss';

.cardPartner {
    margin-top: 71px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    background-image: url("../../assets/partner.png");
    border-radius: 20px;
    width: 574px;
    height: 350px;
}

.containerPartner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 105px;
}

.title {
    margin-left: 40px;
    font-family: $primary-font;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
}

.description {
    margin-left: 40px;
    color: #fff;
    width: 150px;
    font-size: 1rem;
}

.btnPartner {
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;
    background-color: $primary-color;
    border-radius: 10px;
    width: 131px;
    height: 48px;
    letter-spacing: 1.28px;
    text-align: center;
    border: none;
    margin-top: 32px;
    margin-bottom: 40px;
    cursor: pointer;

    &:hover {
        background-color: #D60D53;
    }

}