@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

// Cores

$primary-color: #F71963;
$secondary-color: #fff;

//Fontes
$primary-font: 'Poppins', sans-serif;



